@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fefae0;
    --foreground: #0c0a09;
    --card: #fefae0;
    --card-foreground: #0c0a09;
    --popover: #fefae0;
    --popover-foreground: #0c0a09;
    --primary: #026937;
    --primary-foreground: #fefae0;
    --secondary: #35944b;
    --secondary-foreground: #dee2e6;
    --muted: #dee2e6;
    --muted-foreground: #495057;
    --accent: #dee2e6;
    --accent-foreground: #212529;
    --destructive: #8b0000;
    --destructive-foreground: #fffaf0;
    --border: #e5e4e2;
    --input: #e5e4e2;
    --ring: #026937;
    --radius: 0.5rem;
    --chart-1: #ef434d;
    --chart-2: #3ebdac;
    --chart-3: #137598;
    --chart-4: #f9a12c;
    --chart-5: #532d87;
    --chart-6: #013220;
  }

  .dark {
    --background: #0c0a09;
    --foreground: #fefae0;
    --card: #0c0a09;
    --card-foreground: #fefae0;
    --popover: #0c0a09;
    --popover-foreground: #fefae0;
    --primary: #026937;
    --primary-foreground: #fefae0;
    --secondary: #8dc63f;
    --secondary-foreground: #fefae0;
    --muted: #212529;
    --muted-foreground: #a8a29e;
    --accent: #212529;
    --accent-foreground: #fefae0;
    --destructive: #e34234;
    --destructive-foreground: #fffaf0;
    --border: #212529;
    --input: #212529;
    --ring: #048b4a;
    --chart-1: #19bf53;
    --chart-2: #3ebdac;
    --chart-3: #f9a12c;
    --chart-4: #7040b3;
    --chart-5: #dc4fb4;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
