@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fefae0;
    --foreground: #111111;
    --card: #fefae0;
    --card-foreground: #111111;
    --popover: #fefae0;
    --popover-foreground: #111111;
    --primary: #026937;
    --primary-foreground: #fefae0;
    --secondary: #2d7f40;
    --secondary-foreground: #dee2e6;
    --muted: #dee2e6;
    --muted-foreground: #a8a29e;
    --accent: #e2d8e180;
    --accent-foreground: #212529;
    --destructive: #8b0000;
    --destructive-foreground: #fffaf0;
    --border: #e5e4e2;
    --input: #e5e4e2;
    --ring: #dfe5dd;
    --radius: 0.5rem;
    --shadow: #02693780;
  }

  .dark {
    --background: #111111;
    --foreground: #fefae0;
    --card: #111111;
    --card-foreground: #fefae0;
    --popover: #111111;
    --popover-foreground: #fefae0;
    --primary: #026937;
    --primary-foreground: #fefae0;
    --secondary: #35944b;
    --secondary-foreground: #fefae0;
    --muted: #212529;
    --muted-foreground: #a8a29e;
    --accent: #212529;
    --accent-foreground: #fefae0;
    --destructive: #df4133;
    --destructive-foreground: #fffaf0;
    --border: #212529;
    --input: #212529;
    --ring: #048b4a;
    --shadow: #02693780;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply text-5xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-xl font-bold;
  }
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap p.is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
